<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650304503444-7lmmn3grnvr1oqtpu1ot1o78qgi4l6ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650304503444-7lmmn3grnvr1oqtpu1ot1o78qgi4l6ps</string>
	<key>API_KEY</key>
	<string>AIzaSyACL0pwk6HRt4XM4h35O5QJXj1M51LoZyM</string>
	<key>GCM_SENDER_ID</key>
	<string>650304503444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rezaabdolmaleki.third.NewChat</string>
	<key>PROJECT_ID</key>
	<string>chatnewapp-af303</string>
	<key>STORAGE_BUCKET</key>
	<string>chatnewapp-af303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650304503444:ios:ec4727f163b3b4e6</string>
	<key>DATABASE_URL</key>
	<string>https://chatnewapp-af303.firebaseio.com</string>
</dict>
</plist>