<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624215316157-uos3g4nou57i7dpmma8m9td3hf9b7nqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624215316157-uos3g4nou57i7dpmma8m9td3hf9b7nqp</string>
	<key>API_KEY</key>
	<string>AIzaSyC8PJdy8F05e6EsIdszZ35vfTzF6DVVvps</string>
	<key>GCM_SENDER_ID</key>
	<string>624215316157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rezaabdolmaleki.NewFlashChat</string>
	<key>PROJECT_ID</key>
	<string>newflashchat-7864a</string>
	<key>STORAGE_BUCKET</key>
	<string>newflashchat-7864a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624215316157:ios:f37425373f7df473</string>
	<key>DATABASE_URL</key>
	<string>https://newflashchat-7864a.firebaseio.com</string>
</dict>
</plist>